.user{
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  transition: .3s;
  &:hover{
    transform: scale(1.1);
  }
  &__name{
    color: black;
    margin: 10px 0;
  }
  &__status{
    color: blue;
  }

}